html{
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    height: 200px;
    width: auto;
}

.logo {
    float: left;
    margin: 20px 50px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.navlinks {
    overflow: auto;
    position: absolute;
    right: 20px;
  }

.navlinks li {
  margin: auto 0px;
}
  
  .navlinks a {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .navlinks .icon {
    display: none;
  }

.display-3 {
  font-size: 2.2rem;
}
  
@media screen and (max-width: 600px) {
    .navlinks .nav-item {display: none;}
    .bs-component a.icon {
      display: block;
      color: white;
      width: 1.5em;
    }

    .logo {
      margin: 20px 10px 20px auto;
    }

    .heading {
      display: flex;
      justify-content: center;
    }

    .display-3 {
      text-align: center;
    }

    .bs-component {
      width: 100%;
    }
}
  
@media screen and (max-width: 600px) {
    .navlinks-responsive {position: relative;}
    .bs-component a.icon-responsive {
        width: auto;
        display: block;
        z-index: 0;
      position: absolute;
      right: 20px;
      top: 10px;
    }
    .navlinks-responsive a {
      float: left;
      width: 80%;
      display: block;
      text-align: left;
    }
  }
  
#mainhead {
	padding-top: 30px;
}

.box{
	border: 1px solid none;
	width: 80%;
	height: 140%;
	margin: 0px 10%;
	position: absolute;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}
.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.title {
  color: grey;
}
